#head{
    background-color: grey;
}

li{
    list-style-type: none;
}
#post{
   background-color: rgb(203, 203, 203); 
}
.hover{
    position: relative;
    top: -5px;
}
#heading {
    width: 75%;
    height: 80px;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 12px;
    background-color: #353839;
    font-size: 16px;
    resize: none;
    color: white;
    border: 0px;
  }
  #body {
    width: 75%;
    height: 220px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    color: white;
    border-radius: 12px;
    background-color: #353839;
    font-size: 16px;
    resize: none;
    border: 0px;
  }
  input {
    width: 10%;
    height: 5%;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #353839;
    color: white;
    border: 0px;
  }
  li{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mouse-enter{
    position: relative;
    top: -5px;
    color: white;
    box-shadow: 0 5px 15px #765dd070;
  }
  #newPostForm{
    background-color: #1c1b21;
    height: 100%;
    width: 100%;
  }

  span{
        font-family: "Grand Hotel", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 4rem;
        color: #765dd0;
        filter: drop-shadow(#765dd0 0.1rem 0.1rem 1px);
  }
  .headingOfNewPost{
  font-family: "Playwrite PE", cursive;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5rem;
  color: #765dd0;
  text-align: center;
  }
  #head{
    background-color: #765dd0;
    display: flex;
    justify-content: flex-start;
    height: 50px;
    gap: 0px;
  }
  #head  button{
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: 0px;
    border-radius: 12px;
    background-color: #765dd0;
    font-family: "Playwrite PE", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: white;
  }

  .mouse-enter-navbar{
    position: relative;
    top: -5px;
    filter: drop-shadow(#1c1b21 0.1rem 0.1rem 4px);
  }
.mouse-enter-post-button{
    margin-top: 10px;
    padding: 5px 30px 5px 30px;
    margin-bottom: 10px;
    border-radius: 12px;
    position: relative;
    top: -5px;
    background-color: #765dd0;
    border: 5px solid #765dd0;
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: white;
    filter: drop-shadow(gray 0.1rem 0.1rem 5px );
}
.postSubmitButton-permanent{
    margin-top: 10px;
    padding: 5px 30px 5px 30px;
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: #1c1b21;
    border: 5px solid #765dd0;
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #765dd0;
  }
  #post{
    width: 70%;
    margin-top: 15px;
    border-radius: 12px;
    border: 4px solid #765dd0;
    background-color: #1c1b21;
  }
  #post h1{
    font-family: "Source Code Pro", monospace;
    color: #dfd6ff;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    border-bottom: 1px dotted #765dd0;
    padding-bottom: 10px;
    word-wrap: break-word;
  }
  #post p{
    color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
    font-size: 1rem;
    text-align: justify;
  }
  body{
    background-color: #1c1b21;
    margin: 0px 0px;
  }
  #homePageDiv{
    display: flex;
    justify-content: center;
  }
  .mouse-over-edit-delete{
    filter: drop-shadow(white 0.1rem 0.1rem 4px);
    position: relative;
    top: -5px;
  }
  .configButton{
    background-color: #1c1b21; border: 2px solid #765dd0; border-radius: 5px;
  }
  #loginPost h1{
    text-align: center;
    color: #765dd0;
    font-family: "Playwrite PE", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
  }
  #formOfLoginPost{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #loginPost{
    width: 50%;
    height: 50%;
    border: 5px solid #765dd0;
    border-radius: 12px;
  }
  /* span3{
    font-family: "Playwrite PE", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    filter: drop-shadow(#765dd0 0.1rem 0.1rem 2px);
  } */
  #loginInput{
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .loginPostSubmitButton{
    margin-top: 15px;
    padding: 5px 30px 5px 30px;
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: #1c1b21;
    border: 5px solid #765dd0;
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #765dd0;
  }

  #postEditor li>h1{
    text-align: center;
    color: #765dd0;
    font-family: "Playwrite PE", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
  }
  .changPostButton{
    margin-top: 15px;
    padding: 5px 30px 5px 30px;
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: #1c1b21;
    border: 5px solid #765dd0;
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #765dd0;
  }
  span4{
    filter: drop-shadow(yellow 0.1rem 0.1rem 3px);
  }
  
.main{
  height:100vh;
  width:100%;  
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.main h1{
    font-family: "Caveat", cursive;
    font-style: normal;
  text-align:center;
  text-transform: uppercase;
  color: #F1FAEE; 
  font-size: 5rem;
}

.roller{
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #1D3557;
}


#spare-time{
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 0.8rem;
  margin-top: 0;
  color: #A8DADC;
  
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 7s infinite;  
}

span5,span6{
  color: #765dd0;
  font-size: 3.5rem;
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  72.5%{
    top: -12.25rem;
  }
}
#viewPost{
  display: flex;
  justify-content: center;
}
#viewPost div{
  width: 80%;
}
#viewPost div>h1{
  font-family: "Source Code Pro", monospace;
  color: #dfd6ff;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 80px;
}
#viewPost div>p{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
    font-size: 1rem;
    text-align: left;
}
.mouse-enter-post-card{
  position: relative;
  top: -5px;
  filter: drop-shadow(#ca9eff 0.1rem 0.1rem 5px);
}
.configButton{
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  border-radius: 12px;
  background-color: #1c1b21;
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  color: white;

}
.mouse-enter-config-button{
  position: relative;
  top: -5px;
  filter: drop-shadow(white 0.1rem 0.1rem 5px );
  background-color: #765dd0;

}
@media screen and (max-width: 600px){
  #viewPost div>h1{
    font-size: 3rem;
  }
  #viewPost div>p{
    font-size: 1rem;
  }
  #post{
    width: 80%;
  }
  #post h1{
    font-size: 2.5rem;
  }
  #postEditor li>h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 100px;
  }
  #loginPost h1{
    font-size: 2rem;
    margin-bottom: 50px;
  }
  #loginPost{
    width: 90%;
  }
  .main h1{
  text-align:center;
  text-transform: uppercase;
  color: #F1FAEE; 
  font-size: 2.125rem;
}
span5,span6{
  font-size: 1.8rem;
}
.headingOfNewPost{
  font-family: "Playwrite PE", cursive;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  color: #765dd0;
  text-align: center;
  }
  span{
    font-size: 3rem;
  }
  
  .roller{
  height: 2.6rem; 
  line-height: 2.125rem;  
  }
  
  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  
  .roller #rolltext {  
  animation: slide-mob 5s infinite;  
}
  
  @keyframes slide-mob {
  0%{
    top:0;
  }
  25%{
    top: -2.125rem;    
  }
  50%{
    top: -4.25rem;
  }
  72.5%{
    top: -6.375rem;
  }
}
}
